@model ConsoleApp.Models.ArticleViewModel
@{
    Layout = "_Layout";
}


<form method="post" action="ArtEdit"> 
    <br />
    <input type="text" id="" name="" value="@Model.ArtTitle" />
    <br />
    <span>
    @Model.ArtTitle
    </span>
    <textarea>
    @Model.ArtTitle
    </textarea> 
    <br />
     
</form>