<!DOCTYPE html>
<html>
<head>
    <title>.Net Core @ViewData["Title"]</title> 
    <meta content=".Net Core,.net core,.NetCore,.netcore,Asp.Net Core,asp.net core,asp.netcore,Asp.NetCore,.net" name="keywords">
    <meta content=".Net Core,.net core,.NetCore,.netcore,Asp.Net Core,asp.net core,asp.netcore,Asp.NetCore,.net,.Net Core Study,.Net Core 学习,.Net Core 教程,.Net Core博客,.Net Core Blog" name="description">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("css", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-controller="Home" asp-action="Index" class="navbar-brand" href="~/Article/Index">T</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Home" asp-action="Index" href="~/Article/Index">Home</a></li>
                    <li><a asp-controller="Home" asp-action="About" href="~/About/Index">About</a></li>
                    <li><a asp-controller="Home" asp-action="User" href="~/User/Index" >User</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Asp.Net Core&copy; 2016 - Bruce &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/Article/ArtManage">后台</a></p>
        </footer>
    </div>
    <!----> <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script> 
    <script src="~/js/site.js" asp-append-version="true"></script> 
    @RenderSection("scripts", required: false)
</body>
</html>
