@{
    Layout = "_Layout";
}
<h2>关于作者</h2>
<article>

Name: Bruce
<br />
<br />
Job: Coder
<br />
<br />
Mail: hpwtuan@foxmail.com
<br />
<br />
github:<a target="_blank" href="https://github.com/HETUAN"> https://github.com/HETUAN/</a>
<br />
<br />
项目地址:<a target="_blank" href="https://github.com/HETUAN/bbs"> https://github.com/HETUAN/bbs</a>


</article>