<html>
    <head>
        <title>Index</title>
        <script type="text/javascript" src="~/lib/jquery/dist/jquery.js" ></script>
        <script>
            $(function(){
                //alert("Jquery!");
            })
        </script>
    </head>
    <body>
        <h1>Hello!</h1>
    </body>
</html>